<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %> 
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, neque quae maxime vel labore saepe nisi commodi! Vitae quia sequi enim quo modi? Voluptatum sunt laudantium animi quod! Accusamus, saepe.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, neque quae maxime vel labore saepe nisi commodi! Vitae quia sequi enim quo modi? Voluptatum sunt laudantium animi quod! Accusamus, saepe.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, neque quae maxime vel labore saepe nisi commodi! Vitae quia sequi enim quo modi? Voluptatum sunt laudantium animi quod! Accusamus, saepe.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, neque quae maxime vel labore saepe nisi commodi! Vitae quia sequi enim quo modi? Voluptatum sunt laudantium animi quod! Accusamus, saepe.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, neque quae maxime vel labore saepe nisi commodi! Vitae quia sequi enim quo modi? Voluptatum sunt laudantium animi quod! Accusamus, saepe.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>